name: CI

on:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: go mod tidy
      - name: Run Unit Tests
        run: go clean -testcache && go test -v ./... 